@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --blue: #0079ff;
  --gray: #697c9a;
  --blue-2: #4b6a9b;
  --light-black: #2b3442;
  --dark-body-bg: #141d2f;
  --white-alt: #fefefe;
  --br: 15px;
  --light-body-bg: #f2f2f2;
  --dark-bg: #1e2a47;
  --font-lg: 26px;
  --font-fam: 'Space Mono';

  /* light */
  --brand-name: #222731;
  --body-bg: #f2f2f2;
  --search-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --input-placeholder: var(--blue-2);
  --name: var(--light-black);
  --join-date: var(--gray);
  --main-container-bg: white;
  --main-container-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --name: var(--light-black);
  --bio: var(--blue-2);
  --stats: #f6f8ff;
  --stat-title: var(--blue-2);
  --stat-info: var(--light-black);
  --extra-info: var(--blue-2);
  --extra-info-icon: inherit;
  --theme-text: var(--gray);
  --theme-icon: var(--gray);
}

:root[data-theme='dark'] {
  --brand-name: white;
  --body-bg: #141d2f;
  --search-box-shadow: none;
  --input-placeholder: white;
  --name: white;
  --join-date: white;
  --main-container-bg: var(--dark-bg);
  --main-container-box-shadow: none;
  --name: white;
  --bio: white;
  --stats: var(--dark-body-bg);
  --stat-title: white;
  --stat-info: white;
  --extra-info: white;
  --extra-info-icon: white;
  --theme-text: white;
  --theme-icon: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-fam);
}

body {
  max-width: 730px;
  margin: 0 auto;
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-top: 144px;
  align-items: center;
}

.brandName {
  font-size: var(--font-lg);
  color: var(--brand-name);
}

.searchContainer {
  position: relative;
  margin-bottom: 24px;
}

.searchContainer > input {
  width: 100%;
  height: 69px;
  border-radius: var(--br);
  border: none;
  padding-left: 80px;
  font-size: 18px;
  background-color: var(--main-container-bg);
}

.searchContainer > img {
  position: absolute;
  left: 32px;
  top: 23px;
}

.searchContainer > button {
  position: absolute;
  background-color: var(--blue);
  color: white;
  right: 1.37%;
  top: 13.77%;
  bottom: 13.77%;
  border: none;
  border-radius: 10px;
  padding: 0 25px;
  font-size: 16px;
  cursor: pointer;
}

.searchContainer > button:hover {
  background: #60abff;
}

.searchContainer > input {
  box-shadow: var(--search-box-shadow);
}

.searchContainer > input::placeholder {
  color: var(--input-placeholder);
}

.mainContainer {
  border-radius: var(--br);
  border: none;
  padding: 48px;
  background-color: var(--main-container-bg);
  box-shadow: var(--main-container-box-shadow);
}

.profileTop {
  display: flex;
}

.profilePic {
  width: 117px;
  height: 117px;
  border-radius: 100%;
  margin-right: 37px;
}

.profileMain {
  width: 100%;
}

.profileMainInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-weight: 700;
  font-size: var(--font-lg);
  color: var(--name);
}

.username {
  color: var(--blue);
  font-size: 16px;
}

.bio {
  opacity: 0.75;
  margin-top: 20px;
  line-height: 25px;
  color: var(--bio);
}

.joinDate {
  font-size: 15px;
  margin-top: 5px;
  color: var(--join-date);
}

.profileBottom {
  width: 480px;
  height: 185px;
  margin-left: auto;
  margin-top: 32px;
}

.stats {
  display: flex;
  padding: 15px 32px 17px 32px;
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: var(--stats);
}

.statTitle {
  font-size: 13px;
  line-height: 16px;
  color: var(--stat-title);
}

.statInfo {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: var(--stat-info);
}

.extraInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--extra-info);
  margin-top: 37px;
  row-gap: 19px;
  column-gap: 80px;
  font-size: 15px;
}

.NA {
  opacity: 0.75;
}

.extraInfoIcon {
  margin-right: 19px;
  color: var(--extra-info-icon);
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  align-items: center;
}

.theme-text {
  margin-right: 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: var(--theme-text);
}

.theme-text:hover,
.theme-icon:hover {
  color: #222731;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.desktop {
  display: block;
}

.theme-icon {
  color: var(--theme-icon);
}

.noResult {
  position: absolute;
  height: 22px;
  left: 68.22%;
  right: 19.18%;
  top: calc(50% - 22px / 2 + 0.5px);
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #f74646;
  display: none;
}

@media (max-width: 790px) and (min-width: 491px) {
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header,
  .searchContainer,
  .mainContainer {
    max-width: 573px;
    width: 100%;
  }

  .header {
    margin-top: 140px;
  }

  .searchContainer,
  .mainContainer {
    margin: inherit 0px;
  }

  .mainContainer {
    padding: 40px;
  }

  .profilePic {
    margin-right: 41px;
  }

  .profileBottom {
    width: 100%;
  }

  .username {
    margin-top: 2px;
  }

  .joinDate {
    margin-top: 4px;
  }

  .bio {
    margin-top: 24px;
  }

  .extraInfoIcon {
    margin-right: 13px;
  }

  .extraInfos {
    column-gap: 65px;
  }
}

@media (max-width: 505px) {
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
  body {
    display: block;
    padding: 0 24px;
  }
  .header {
    margin-top: 31px;
    width: 100%;
  }

  .searchContainer,
  .mainContainer {
    width: 100%;
  }

  .searchContainer {
    margin-bottom: 16px;
  }

  .mainContainer {
    padding: 32px 24px 48px 24px;
  }

  .searchContainer > input {
    height: 60px;
    border-radius: var(--br);
    padding-left: 45px;
    font-size: 13px;
  }

  .searchContainer > img {
    width: 20.05px;
    height: 20px;
    left: 16px;
    top: 20px;
  }

  .searchContainer > button {
    left: 72.17%;
    right: 2.14%;
    top: 10.83%;
    bottom: 12.5%;
    padding: 0 16px;
    font-size: 14px;
  }

  .profilePic {
    width: 70px;
    height: 70px;
    margin-right: 19px;
  }

  .name {
    font-size: 16px;
  }

  .username {
    font-size: 13px;
    margin-top: 0px;
  }

  .joinDate {
    font-size: 13px;
    margin-top: 6px;
  }

  .bio {
    margin-top: 33px;
    font-size: 13px;
  }

  .stats {
    padding: 18.5px 14.5px;
  }

  .statTitle {
    font-size: 11px;
  }

  .statInfo {
    font-size: 16px;
  }

  .profileBottom {
    width: 100%;
    margin-top: 23px;
    height: auto;
  }

  .extraInfos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 24px;
    row-gap: 17px;
    font-size: 13px;
  }
}
