@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --blue: #0079ff;
  --gray: #697c9a;
  --blue-2: #4b6a9b;
  --light-black: #2b3442;
  --black: #141d2f;
  --white-alt: #fefefe;
  --br: 15px;
  --light-bg: #f2f2f2;
  --dark-bg: #1e2a47;
  --font-lg: 26px;
  --font-fam: 'Space Mono';
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-fam);
}

body {
  max-width: 730px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-top: 144px;
  align-items: center;
}

.brandName {
  color: #222731;
  font-size: var(--font-lg);
}

.searchContainer {
  position: relative;
  margin-bottom: 24px;
}

.searchContainer > input {
  width: 100%;
  height: 69px;
  border-radius: var(--br);
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-left: 80px;
  font-size: 18px;
}

.searchContainer > input::placeholder {
  /* font-family: 'Space Mono'; */
  color: var(--blue-2);
}

.searchContainer > img {
  position: absolute;
  left: 32px;
  top: 23px;
}

.searchContainer > button {
  position: absolute;
  /* right: 0; */
  background-color: var(--blue);
  color: white;
  right: 1.37%;
  top: 13.77%;
  bottom: 13.77%;
  border: none;
  border-radius: 10px;
  padding: 0 25px;
  font-size: 16px;
  cursor: pointer;
}

.mainContainer {
  background-color: white;
  border-radius: var(--br);
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 48px;
}

.profileTop {
  display: flex;
}

.profilePic {
  width: 117px;
  height: 117px;
  border-radius: 100%;
  margin-right: 37px;
}

.profileMain {
  width: 100%;
}

.profileMainInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-weight: 700;
  font-size: var(--font-lg);
  color: var(--light-black);
}

.username {
  color: var(--blue);
  font-size: 16px;
}

.bio {
  color: var(--blue-2);
  opacity: 0.75;
  margin-top: 20px;
  line-height: 25px;
}

.joinDate {
  color: var(--gray);
  font-size: 15px;
  margin-top: 5px;
}

.profileBottom {
  width: 480px;
  height: 185px;
  margin-left: auto;
  margin-top: 32px;
}

.stats {
  background-color: #f6f8ff;
  display: flex;
  padding: 15px 32px 17px 32px;
  border-radius: 10px;
  justify-content: space-evenly;
}

.statTitle {
  font-size: 13px;
  color: var(--blue-2);
  line-height: 16px;
}

.statInfo {
  font-size: 22px;
  font-weight: bold;
  color: var(--light-black);
  line-height: 24px;
}

.extraInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--blue-2);
  margin-top: 37px;
  row-gap: 19px;
  column-gap: 80px;
  font-size: 15px;
}

.NA {
  opacity: 0.75;
}

.extraInfoIcon {
  margin-right: 19px;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  align-items: center;
}

.theme-text {
  margin-right: 16px;
  color: var(--gray);
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2.5px;
}

.theme-icon {
  color: var(--gray);
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 790px) and (min-width: 491px) {
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header,
  .searchContainer,
  .mainContainer {
    max-width: 573px;
    width: 100%;
  }

  .header {
    margin-top: 140px;
  }

  .searchContainer,
  .mainContainer {
    margin: inherit 0px;
  }

  .mainContainer {
    padding: 40px;
  }

  .profilePic {
    margin-right: 41px;
  }

  .profileBottom {
    width: 100%;
  }

  .username {
    margin-top: 2px;
  }

  .joinDate {
    margin-top: 4px;
  }

  .bio {
    margin-top: 24px;
  }

  .extraInfoIcon {
    margin-right: 13px;
  }

  .extraInfos {
    column-gap: 65px;
  }
}

@media (max-width: 505px) {
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
  body {
    display: block;
    padding: 0 24px;
  }
  .header {
    margin-top: 31px;
    width: 100%;
  }

  .searchContainer,
  .mainContainer {
    width: 100%;
  }

  .searchContainer {
    margin-bottom: 16px;
  }

  .mainContainer {
    padding: 32px 24px 48px 24px;
  }

  .searchContainer > input {
    height: 60px;
    border-radius: var(--br);
    padding-left: 45px;
    font-size: 13px;
  }

  .searchContainer > img {
    width: 20.05px;
    height: 20px;
    left: 16px;
    top: 20px;
  }

  .searchContainer > button {
    left: 72.17%;
    right: 2.14%;
    top: 10.83%;
    bottom: 12.5%;
    padding: 0 16px;
    font-size: 14px;
  }

  .profilePic {
    width: 70px;
    height: 70px;
    margin-right: 19px;
  }

  .name {
    font-size: 16px;
  }

  .username {
    font-size: 13px;
    margin-top: 0px;
  }

  .joinDate {
    font-size: 13px;
    margin-top: 6px;
  }

  .bio {
    margin-top: 33px;
    font-size: 13px;
  }

  .stats {
    padding: 18.5px 14.5px;
    /* justify-content: space-between; */
  }

  .statTitle {
    font-size: 11px;
  }

  .statInfo {
    font-size: 16px;
  }

  .profileBottom {
    width: 100%;
    margin-top: 23px;
    height: auto;
  }

  .extraInfos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 24px;
    row-gap: 17px;
    font-size: 13px;
  }
}
